@{
    ViewBag.Title = "Administration Panel";
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <br />

    <div class="row">
        <div class="mb-3">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Products">Products</a>
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Users">Users</a>
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Scrape" id="run-scraper">Run Scraper</a>

            <a class="btn btn btn-outline-primary float-end mb-2" asp-area="Admin" asp-controller="Product" asp-action="AddProduct">Add Product</a>
            <a class="btn btn btn-outline-primary float-end me-2" asp-area="Admin" asp-controller="Product" asp-action="AddBrand">Add Brand</a>
            <a class="btn btn btn-outline-primary float-end me-2" asp-area="Admin" asp-controller="Product" asp-action="AddSpecification">Add Specification</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#run-scraper").click(function () {
            $("body").append("<div class='dim-overlay'></div>");
        });
    });
</script>

<style>
    .dim-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
        z-index: 1000; /* ensure it's on top of everything */
    }
</style>