@model ProductBrandViewModel

<head>
    <link rel="stylesheet" href="~/css/product-brand.css" />
</head>

<partial name="_BrandDetailsPartial" model="Model" />

<h1>Products from this manufacturer:</h1>

<partial name="_BrandProductsPartial" model="Model" />
