@model ProductCategoryViewModel

<head>
    <link rel="stylesheet" href="~/css/product-category.css" />
</head>

<partial name="_ProductSortingPartial" model="Model" />

@foreach (var oil in Model.Products)
{
    <div>
        <h2>@oil.Title</h2>
        <p>@oil.Description</p>
        <p>Price: @oil.Price</p>
        <a href="@Url.Action("Details", "Oil", new { id = oil.Id })">View Details</a>
    </div>
}