@model MotorcycleViewModel

@{
    ViewData["Title"] = "Motorcycle Selection";
}

<h2>Motorcycle Selection</h2>

<div class="form-group">
    <label asp-for="SelectedMake" class="control-label"></label>
    <select asp-for="SelectedMake" class="form-control" id="makeDropdown">
        <option value="">Select a Make</option>
        @foreach (var make in Model.Makes)
        {
            <option value="@make.Value">@make.Text</option>
        }
    </select>
</div>

<div class="form-group">
    <label asp-for="SelectedModel" class="control-label"></label>
    <select asp-for="SelectedModel" class="form-control" id="modelDropdown">
        <option value="">Select a Model</option>
    </select>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#makeDropdown').change(function () {
                var selectedMake = $(this).val();
                $.getJSON('@Url.Action("GetMotorcycle", "Home")', { make: selectedMake }, function (models) {
                    var modelDropdown = $('#modelDropdown');
                    modelDropdown.empty();
                    modelDropdown.append($('<option></option>').attr('value', '').text('Select a Model'));
                    $.each(models, function (index, model) {
                        modelDropdown.append($('<option></option>').attr('value', model.value).text(model.text));
                    });
                });
            });
        });
    </script>
}
