@model ProductCategoryViewModel

<head>
    <link rel="stylesheet" href="~/css/product-category.css" />
</head>

<partial name="_ProductSortingPartial" model="Model" />

@foreach (var part in Model.Products)
{
    <div>
        <h2>@part.Title</h2>
        <p>@part.Description</p>
        <p>Price: @part.Price</p>
        <a href="@Url.Action("Details", "Part", new { id = part.Id })">View Details</a>
    </div>
}