html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*NAVIGATOIN BAR*/

nav ul li a:hover {
    background-color: #4800ff;
}
