.form-control {
    box-sizing: border-box;
}

#dropdown {
    background-image: url('https://i.ibb.co/pXFZPR7/drop-down-arrow-4.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.form-control:focus {
    border-color: darkorange;
    box-shadow: blue;
}

.container {
    margin-top: 3px;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 20px;
    background-color: darkblue;
    border-color: white;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: darkorange;
    border-color: black;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
}
