@model AdminIndexViewModel

<form method="get">
    <partial name="_AdministrationPartial" />
</form>

<div class="row">
    <div class="col-md-6">
        <h2>Products</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title:</th>
                    <th>Price:</th>
                    <!-- Add other props too -->
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>@product.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Username:</th>
                    <th>Created On:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.CreatedOn</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>