<h1>Scrape Data</h1>

<head>
    <link rel="stylesheet" href="~/css/scraper.css" />
</head>

<p><a asp-action="Index">Back to Admin Dashboard</a></p>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}

<p>Scraping Result: @ViewBag.Result</p>

<div class="download-links">
    @foreach (var fileName in ViewBag.FileNames)
    {
        <form asp-action="DownloadFile" method="post">
            <input type="hidden" name="fileName" value="@fileName" />
            <button type="submit">Download @fileName</button>
        </form>
    }
</div>