@model ProductBrandViewModel

<div class="brand-container">
    <div class="brand-image">
        <img src="@Model.ImageUrl" alt="@Model.Name" style="width: 150px; height: 150px; border: solid 1px black" />
    </div>
    <div class="brand-details">
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
    </div>
</div>

<hr />
