<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]DirtX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DirtX.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header-container">
        <div class="row" style="padding-top: 5px; padding-bottom: 5px; padding-left:300px; padding-right: 300px;">
            <header class="d-flex justify-content-between align-items-center">
@*                 <div class="logo">
                    <a href="#"><img src="https://i.ibb.co/jGCvPjT/ai-logo.png" title="Logo Title" alt="Logo Alt Text"></a>
                </div> *@
                <div class="contact">
                    <a asp-controller="" asp-action=""><img src="https://i.ibb.co/ck069J2/phone-edited.png" alt="Phone Icon">Contact Us</a>
                </div>
                <div class="sell">
                    <a asp-controller="Used" asp-action="Sell"><img src="https://i.ibb.co/b6CCnZk/sale-edited.png" alt="Moto Icon">Sell Your Motorcycle</a>
                </div>
                <div class="garage">
                    <a asp-controller="" asp-action=""><img src="https://i.ibb.co/804Z509/garage-edited.png" alt="Garage Icon">My Garage</a>
                </div>
                <div class="wishlist">
                    <a asp-controller="" asp-action=""><img src="https://i.ibb.co/Ch2b54P/heart-edited.png" alt="Wishlist Icon">My Wishlist</a>
                </div>
            </header>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Part" asp-action="Index">Parts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Oil" asp-action="Index">Oils and Liquids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Gear" asp-action="Index">Riding Gear</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Used" asp-action="Index">Used Motorcycles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Forum (?)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Maintenance Tips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Helpful Links (Dropdown)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Rent a Trailer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">About Us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - DirtX.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>