<!DOCTYPE html>
<html>
<head>
    <title>Error 404 - Not Found</title>
    <link rel="stylesheet" href="~/css/error404.css" />
</head>
<body>
    <h1>Oops! Looks like you took a wrong turn!</h1>
    <br/>
    <ul class="redirect-from-error">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Part">Parts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Oil">Oils and Liquids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Gear">Riding Gear</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Used">Used Motorcycles</a>
        </li>
    </ul>
</body>
</html>
