<!DOCTYPE html>
<html>
<head>
    <title>Error 400 - Bad Request</title>
    <link rel="stylesheet" href="~/css/error400.css" />
</head>
<body>
    <h1>Uh-oh! Bad Request</h1>
    <p>It seems the server couldn't understand your request.</p>
    <br />
    <p><a href="/">Go Back to Homepage</a></p>
</body>
</html>
