<!DOCTYPE html>
<html>
<head>
    <title>Error 500 - Internal Server Error</title>
    <link rel="stylesheet" href="~/css/error500.css" />
</head>
<body>
    <h1>Oops! Something Went Wrong</h1>
    <p>We're sorry, but there was a problem processing your request.</p>
    <p>Our team has been notified and is working to fix it. Please try again later.</p>
    <br/>
    <p><a href="/">HOMEPAGE</a></p>
</body>
</html>